@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-bottom: 35px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 0.75rem;
}

#question-form {
    width: 82%;
    color: #5a5a5a;
}

#selection-container {
    height: 20%;
    padding-left: 0;
}

#purple-button {
    background-color: #6c63ff;
    border-color: #6c63ff;
    margin-left: 18px;
}

#purple-button:hover {
    background-color: #4e47c3;
    border-color: #4e47c3;
}

#upvote-button {
    background-color: #1fa2b8;
    border-color: #1fa2b8;
}

#upvote-button:hover {
    background-color: #097486;
    border-color: #097486;
}

.table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.table td {
    vertical-align: middle;
    color: #343a40;
}

#board-title {
    margin-bottom: 2%;
}

.course-input {
    width: 50%;
}
.section-input {
    width: 25%;
}

#sign-out-button {
    background-color: #e83e8ce8;
    border-color: #e83e8ce8;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #5a5a5a;
    text-align: center;
    position: fixed;
    /* bottom: 0; */
}

#login-section {
    text-align: right;
}

#site-intro {
    text-align: right;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    text-align: center;
    padding-left: 5rem;
}

